<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
        <div class="container py-3">
            <header>  
                <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">АИС ФССП</span>
                  </a>
                  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/check_dept">Проверка долгов</a>
                    <a class="me-3 py-2 text-dark text-decoration-none" href="/ep">Исполнительные производства</a>
                    <a class="py-2 text-dark text-decoration-none" href="/auth">Выйти</a>
                  </nav>
                </div>
              </header>
        
          {% block body %}{% endblock %}
        
          <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
              <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">©2021 Сделано в рамках курсовой работы. </small>
              </div>
            </div>
          </footer>
        </div>
        
</body>
</html>