{% extends 'index.html' %}


{% block title %}Создать исп. производство{% endblock %}
{% block content %}
<main>
    <div class="py-5 text-center">
      <h1>Анкета заявления на возбуждение исполнительного производства</h2>
      <p class="lead">После заполнения формы исполнительное производство будет дабавлено в систему автоматически. 
                      Пристав, принимающий заявление, несёт ответственноть за корректность введённых данных.</p>
    </div>

    <div class="row g-5">
      
      <div class="col-md-7 col-lg-8">
        <form class="needs-validation" novalidate="", method="POST">
          <h3 class="mb-3">Информация о взыскателе</h3>
          <div class="row g-3">

            <div class="col-12">
              <label for="lastName" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Требуется действительная фамилия
              </div>
            </div>

            <div class="col-12">
              <label for="firstName" class="form-label">Имя</label>
              <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Требуется действительное имя
              </div>
            </div>

            <div class="col-12">
                <label for="fatherName" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="fatherName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Требуется действительное отчество
                </div>
            </div>

            <div class="col-12">
              <label for="bornDate" class="form-label">Дата рождения</label>
              <input type="date" class="form-control" id="bornDate" placeholder="" value="" required="">
              <div class="invalid-feedback">
                  Требуется действительная дата рождения
              </div>
          </div>

          <h5>Паспортные данные</h5>

          <div class="col-md-3">
            <label for="series" class="form-label">Серия</label>
            <input type="text" class="form-control" id="series" placeholder="" required="">
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>

          <div class="col-md-3">
            <label for="number" class="form-label">Номер</label>
            <input type="text" class="form-control" id="number" placeholder="" required="">
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>

          <div class="col-md-3">
            <label for="code" class="form-label">Код подразделения</label>
            <input type="text" class="form-control" id="code" placeholder="" required="">
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>

          <h5>Место рождения</h5>

            <div class="col-md-5">
              <label for="country" class="form-label">Страна</label>
              <select class="form-select" id="country" required="">
                <option value="">Выбрать...</option>
                <option>Россия</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">Регион</label>
              <select class="form-select" id="state" required="">
                <option value="">Выбрать...</option>
                {% for reg in regions %}
                <option>{{ reg }}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-12">
              <label for="street" class="form-label">Улица</label>
              <input type="text" class="form-control" id="street" placeholder="ул. Стромынка" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-md-6">
              <label for="house" class="form-label">Дом</label>
              <input type="text" class="form-control" id="house" placeholder="" required="">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="corp" class="form-label">Корпус (при наличии)</label>
              <input type="text" class="form-control" id="corp" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="flat" class="form-label">Квартира (при наличии)</label>
              <input type="text" class="form-control" id="flat" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <h5>Контактная информация</h5>

            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
  
            <div class="col-12">
              <label for="tel" class="form-label">Телефон</label>
              <input type="tel" class="form-control" id="tel" placeholder="">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <h5>Адрес места жительства</h5>

            <div class="col-md-5">
              <label for="country2" class="form-label">Страна</label>
              <select class="form-select" id="country2" required="">
                <option value="">Выбрать...</option>
                <option>Россия</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state2" class="form-label">Регион</label>
              <select class="form-select" id="state2" required="">
                <option value="">Выбрать...</option>
                {% for reg in regions %}
                <option>{{ reg }}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-12">
              <label for="street2" class="form-label">Улица</label>
              <input type="text" class="form-control" id="street2" placeholder="ул. Стромынка" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-md-6">
              <label for="house2" class="form-label">Дом</label>
              <input type="text" class="form-control" id="house2" placeholder="" required="">
              <div class="invalid-feedback">!
              </div>
            </div>

            <div class="col-md-3">
              <label for="corp2" class="form-label">Корпус (при наличии)</label>
              <input type="text" class="form-control" id="corp2" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="flat2" class="form-label">Квартира (при наличии)</label>
              <input type="text" class="form-control" id="flat2" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

          <hr class="my-4">

          <h3 class="mb-3">Информация о должнике</h3>
          <div class="row g-3">

            <div class="col-12">
              <label for="lastName2" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="lastName2" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Требуется действительная фамилия
              </div>
            </div>

            <div class="col-12">
              <label for="firstName2" class="form-label">Имя</label>
              <input type="text" class="form-control" id="firstName2" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Требуется действительное имя
              </div>
            </div>

            <div class="col-12">
                <label for="fatherName2" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="fatherName2" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Требуется действительное отчество
                </div>
            </div>

            <div class="col-12">
              <label for="bornDate2" class="form-label">Дата рождения (если известно)</label>
              <input type="date" class="form-control" id="bornDate2" placeholder="" value="" required="">
              <div class="invalid-feedback">
                  Требуется действительная дата рождения
              </div>
          </div>

            <h5>Контактная информация</h5>

            <div class="col-12">
              <label for="email2" class="form-label">Email (если известно)</label>
              <input type="email" class="form-control" id="email2" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
  
            <div class="col-12">
              <label for="tel2" class="form-label">Телефон (если известно)</label>
              <input type="tel" class="form-control" id="tel2" placeholder="">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <h5>Адрес места жительства</h5>

            <div class="col-md-5">
              <label for="country3" class="form-label">Страна</label>
              <select class="form-select" id="country3" required="">
                <option value="">Выбрать...</option>
                <option>Россия</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state3" class="form-label">Регион</label>
              <select class="form-select" id="state3" required="">
                <option value="">Выбрать...</option>
                {% for reg in regions %}
                <option>{{ reg }}</option>
                {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-12">
              <label for="street3" class="form-label">Улица</label>
              <input type="text" class="form-control" id="street3" placeholder="ул. Стромынка" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>

            <div class="col-md-6">
              <label for="house3" class="form-label">Дом</label>
              <input type="text" class="form-control" id="house3" placeholder="" required="">
              <div class="invalid-feedback">
                Credit card number is required
              </div>
            </div>

            <div class="col-md-3">
              <label for="corp3" class="form-label">Корпус (при наличии)</label>
              <input type="text" class="form-control" id="corp3" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="flat3" class="form-label">Квартира (при наличии)</label>
              <input type="text" class="form-control" id="flat3" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>


            <hr class="my-4">


            <h3>Информация исполнительного листа</h3>

            <h5>Суд, выдавший исполнительный лист</h5>

            <div class="col-12">
              <label for="court" class="form-label">Наименование суда</label>
              <input type="text" class="form-control" id="court" placeholder="Московский городской суд">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-12">
              <label for="amount" class="form-label">Сумма задолженности (руб.)</label>
              <input type="text" class="form-control" id="amount" placeholder="">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

          <hr class="my-4">

          <h3>Реквизиты счёта зачисления</h3>

            <div class="col-6">
              <label for="accaunt" class="form-label">Номер счёта</label>
              <input type="text" class="form-control" id="accaunt" placeholder="">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-md-6">
              <label for="bank" class="form-label">Банк</label>
              <select class="form-select" id="bank" required="">
                <option value="">Выбрать...</option>
                <option>Сбербанк</option>
                <option>ВТБ</option>
                <option>Тинькофф Банк</option>
                <option>Альфа-Банк</option>
                <option>Газпромбанк</option>
                <option>Россельхозбанк</option>
                <option>Банк Открытие</option>
                <option>Ситибанк</option>
                <option>Почта Банк</option>
                <option>РНКБ</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

            <div class="col-md-3">
              <label for="bik" class="form-label">БИК банка получателя</label>
              <input type="text" class="form-control" id="bik" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

            <div class="col-md-3">
              <label for="kpp" class="form-label">КПП</label>
              <input type="text" class="form-control" id="kpp" placeholder="" required="">
              <div class="invalid-feedback">
                Expiration date required
              </div>
            </div>

          <p>Нажимая на кнопку ниже, вы подтверждаете, что заявитель согласен на обработку своих пресональных данных.</p>

          <button class="w-100 btn btn-primary btn-lg" type="submit">Создать исполнительное производство</button>
        </form>

      </div>
    </div>
  </main>
  {% endblock %}