{% extends 'base.html' %}

{% if check %}

{% block t %}
{% block title %}{% endblock %}
{% endblock %}

{% block body %}
<header>  
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">АИС ФССП</span>
      </a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/ep">Исполнительные производства</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/persons">Физические лица</a>
        <a class="py-2 text-dark text-decoration-none" href="/auth">Выйти</a>
      </nav>
    </div>
  </header>
{% block content %}{% endblock %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">©2021 Сделано в рамках курсовой работы. </small>
      </div>
    </div>
  </footer>
{% endblock %}

{% else %}
    <h1>Доступ запрещён</h1>
{% endif %}