{% extends 'index.html' %}


{% block title %} Главная {% endblock %}
{% block content %}
<main>
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Приём заявлений граждан</h1>
          <p class="col-md-8 fs-4">Форма для принятия заявлений о предъявлении исполнительного листа на рассмотрение и возбуждения исполнительного производства.</p>
          <button class="btn btn-primary btn-lg" type="button">Перейти к форме</button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Проверка наличия долгов</h2>
            <p>Поиск в базе физических лиц. Установление размера задолженности и истории исполнительных производств с участием физ. лиц.</p>
            <button class="btn btn-outline-light" type="button" onclick="window.location.href = '/persons';">Проверить</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Мои исполнительные производства</h2>
            <p>Список и подробная информация о исполнительных производствах, на которые вы назначены ответственным приставом.</p>
            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href = '/eps';">Перейти</button>
          </div>
        </div>
    </div>
  </main>
{% endblock %}