{% extends 'index.html' %}


{% block title %} Информация о личности {% endblock %}
{% block content %}
<h1>{{ person.fullname}}</h1>
<dl class="row">
    <dt class="col-sm-3">Дата рождения</dt>
    <dd class="col-sm-9">{{ person.born_date }}</dd>
    <dt class="col-sm-3">Паспортные данные</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">Серия</dt>
            <dd class="col-sm-8">{{ person.number_pasport[0:4] }}</dd>
            <dt class="col-sm-4">Номер</dt>
            <dd class="col-sm-8">{{ person.number_pasport[5:] }}</dd>
            <dt class="col-sm-4">Место рождения</dt>
            <dd class="col-sm-8">{{ person.born_place }}</dd>
            <dt class="col-sm-4">Дата выдачи</dt>
            <dd class="col-sm-8">{{person.date_issue}}</dd>
            <dt class="col-sm-4">Код подразделения</dt>
            <dd class="col-sm-8">{{person.department_code}}</dd>
          </dl>
    </dd>
    <dt class="col-sm-3">Адреса</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">Адрес проживания</dt>
            <dd class="col-sm-8">{{ person.address }}</dd>
            <dt class="col-sm-4">Адрес регистации</dt>
            <dd class="col-sm-8">по месту проживания</dd>
        </dl>
    </dd>
    <dt class="col-sm-3">Контактные данные</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">Номер телефона</dt>
            <dd class="col-sm-8">{{ person.phone }}</dd>
            <dt class="col-sm-4">Адрес электронной почты</dt>
            <dd class="col-sm-8">{{ person.email }}</dd>
        </dl>
    </dd>
    <dt class="col-sm-3">Размер задолженности</dt>
    <dd class="col-sm-9">0 руб.</dd>
    <dt class="col-sm-3">Объём взыскиваемых средств</dt>
    <dd class="col-sm-9">0 руб.</dd>
</dl>

<hr class="my-4">

<h3>Список исполнительных производств с данной личностью</h3>
<p>
    Исполнительных производств в базе не найдено
</p>
{% endblock %}