{% extends 'index.html' %}


{% block title %} Информация о личности {% endblock %}
{% block content %}
<h1>{{ person.fullname}}</h1>
<dl class="row">
    <dt class="col-sm-3">Дата рождения</dt>
    <dd class="col-sm-9">{{ person.born_date }}</dd>
    <dt class="col-sm-3">Паспортные данные</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">Серия</dt>
            <dd class="col-sm-8">{{ person.number_pasport[0:4] }}</dd>
            <dt class="col-sm-4">Номер</dt>
            <dd class="col-sm-8">{{ person.number_pasport[5:] }}</dd>
            <dt class="col-sm-4">Место рождения</dt>
            <dd class="col-sm-8">{{ person.born_place }}</dd>
            <dt class="col-sm-4">Дата выдачи</dt>
            <dd class="col-sm-8">{{person.date_issue}}</dd>
            <dt class="col-sm-4">Код подразделения</dt>
            <dd class="col-sm-8">{{person.department_code}}</dd>
          </dl>
    </dd>
    <dt class="col-sm-3">Адрес проживания</dt>
    <dd class="col-sm-8">{{ person.address }}</dd>
    <dt class="col-sm-3">Контактные данные</dt>
    <dd class="col-sm-9">
        <dl class="row">
            <dt class="col-sm-4">Номер телефона</dt>
            <dd class="col-sm-8">{{ person.phone }}</dd>
            <dt class="col-sm-4">Адрес электронной почты</dt>
            <dd class="col-sm-8">{{ person.email }}</dd>
        </dl>
    </dd>
    <dt class="col-sm-3">Размер задолженности</dt>
    <dd class="col-sm-9">{{ person.debt }} руб.</dd>
</dl>

<hr class="my-4">

{% if person.payment_list == [] %}
<p>
    Отсутствует история платежей
</p>

{% else %}

<h3>История платежей</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col"><i data-mdb-sort="field_0" class="datatable-sort-icon fas fa-arrow-up" style="transform: rotate(0deg);"></i>Отметка времени</th>
        <th scope="col"><i data-mdb-sort="field_1" class="datatable-sort-icon fas fa-arrow-up" style="transform: rotate(0deg);"></i>Сумма</th>
      </tr>
    </thead>
    <tbody>
    {% for i in range(person.len_payment_list) %}
      <tr scope="row" data-mdb-index="1">
        <td data-mdb-field="field_0">{{ person.timestamp_pay[i] }}</th>
        <td data-mdb-field="field_1">{{ person.payment_amount[i] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endif %}

{% endblock %}