{% extends 'index.html' %}


{% block title %} Личный кабинет судебного пристава {% endblock %}
{% block content %}

<h1>{{ worker.fullname}}</h1>

<dl class="row">
    <dt class="col-sm-3">Должность</dt>
    <dd class="col-sm-9">{{ worker.post }}</dd>
    <dt class="col-sm-3">Отдел ФССП</dt>
    <dd class="col-sm-9">{{ worker.department }}</dd>
    <dt class="col-sm-3">Активных исполнителных производств</dt>
    <dd class="col-sm-9">{{ worker.len_eps }}</dd> </dl>


    <h4> Список исполнительных производств, в которых пристав является ответственным</h4> 
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Должник</th>
            <th scope="col">Взыскатель</th>
            <th scope="col">Ответственный пристав</th>
            <th scope="col">Задолженность, руб.</th>
            <th scope="col">Счёт зачисления</th>
            <th scope="col">Дата открытия</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for p in worker.eps %}
          <tr>
            <th scope="row"> {{ p.number }} </th>
            <td><a href="/persons/{{ p.debtor.id }}">{{ p.debtor.fullname }}</a></td>
            <td><a href="/persons/{{ p.recoverer.id }}">{{ p.recoverer.fullname }}</a></td>
            <td><a href="/workers/{{ p.responsible.id }}">{{ p.responsible }}</a></td>
            <td>{{ p.now_debt }}</td>
            <td>{{ p.payment_account }}</td>
            <td>{{ p.start_date }}</td>
            <td><a href="/ep/{{ p.number }}"></a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}